<%- if controller_name != 'sessions' %>
  <div class="font-gothic-new flex justify-center items-center mb-2">
    <p>登録済みの方はこちら</p>
    <%= link_to "Log in", new_session_path(resource_name), class: "rounded-md bg-sky-500 px-2 py-1 font-medium text-white ring-1 ring-inset ring-sky-500 hover:bg-sky-400 ml-5" %><br />
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="font-gothic-new flex justify-center items-center mb-2">
    <p>登録がまだの方はこちら</p>
    <%= link_to "Sign up", new_registration_path(resource_name), class: "rounded-md bg-emerald-400 px-2 py-1 font-medium text-white ring-1 ring-inset ring-green-600/20 hover:bg-emerald-300 ml-5" %><br />
  </div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "パスワードを忘れた場合", new_password_path(resource_name), class: "text-slate-600 font-gothic-new" %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false } %><br />
  <% end %>
<% end %>
