<table>
  <tbody>
      <% post.post_comments.each do |post_comment| %>
      <tr>

        <td>
          <%= link_to user_path(post_comment.user) do %>
            <%= image_tag post_comment.user.get_profile_image(50,50), class: "rounded-full mt-4 ml-[25px]" %><br>
            <%= post_comment.user.name %>
            <%= post_comment.user.username %>
          <% end %>
        </td>
        <td>
          <%= post_comment.comment %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %><br>
        </td>
        <td>
          <% if post_comment.user == current_user || current_user.admin? %>
            <%= link_to "Destroy", post_post_comment_path(post, post_comment), method: :delete, remote: true, class: "bg-red-600 hover:bg-red-500 text-white rounded px-4 py-1" %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
