
<div class="space-y-4">
  <% post.post_comments.each do |post_comment| %>
    <div class="flex">
      <%= link_to user_path(post_comment.user) do %>
        <%= image_tag post_comment.user.get_profile_image(50,50), class: "rounded-full mr-[25px]" %>
      <% end %>
      <div class="w-full">
        <div class="w-full">
          <%= link_to user_path(post_comment.user) do %>
            <p class="mr-[14px] inline-block font-medium mt-[9px]"><%= post_comment.user.name %></p>
            <p class="mr-[14px] text-neutral-500 inline-block"><%= post_comment.user.username %></p>
          <% end %>
          <p class="text-neutral-500 inline-block mb-[9px]"><%= time_ago_in_words(post_comment.created_at).upcase %></p>
        </div>

        <div class="w-full flex justify-between mt-[9px]">
          <p class=""><%= post_comment.comment %></p>
          <% if post_comment.user == current_user || current_user.admin? %>
            <%= link_to post_post_comment_path(post, post_comment), method: :delete, remote: true, class: "cursor-pointer" do %>
              <svg class="w-6 h-6 text-red-600 hover:text-red-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  <% end %>
</div>