<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="col-md-6 mx-auto">
  <div class="form-inline">
    <span>
      <%= link_to user_path(visitor) do %>
        <%= image_tag visitor.get_profile_image(50,50), class: "rounded-full" %>
        <strong><%= visitor.name %></strong>
      <% end %>
      さんが
    </span>

    <% case notification.action %>
      <% when 'follow' then %>
        <%= "あなたをフォローしました" %>
      <% when 'like' then %>
        <%= link_to 'あなたの投稿', notification.post, remote: true, style: "font-bold" %>
        <%= "にいいねしました" %>
      <% when 'comment' then %>
        <% if notification.post.user_id == visited.id %>
          <%= link_to "あなたの投稿", notification.post, remote: true, style: "font-bold" %>
        <% else %>
          <span>
            <%= link_to post_path(notification.post), remote: true do %>
              <%= image_tag notification.post.user.get_profile_image(50,50), class: "rounded-full" %>
              <strong><%= notification.post.user.name + 'さんの投稿にコメントしました' %></strong>
            <% end %>
          </span>
        <% end %>
        <p class="text-muted mb-0">
          <%= PostComment.find_by(id: notification.post_comment_id)&.comment %>
        </p>
    <% end %>

  </div>
  <div class="small text-muted text-right">
    <%= time_ago_in_words(notification.created_at).upcase %>
  </div>
  <hr>
</div>
