<div class="w-full">
    <p class="text-center"><%= flash[:notice] %></p>
    <div class="flex sm:justify-center w-full pt-[25px] lg:py-[40px] pl-[8px] sm:pl-0">
      <div class="min-w-[90px] min-h-[90px] sm:min-w-[150px] sm:min-h-[150px] lg:min-w-[180px] lg:min-h-[180px]">
        <%= image_tag user.get_profile_image(180,180), class: "rounded-full  border border-stone-500 w-[90px] h-[90px] sm:w-[150px] sm:h-[150px] lg:w-[180px] lg:h-[180px]" %>
      </div>
      <div class="flex flex-col ml-[16px] lg:ml-[55px] lg:max-w-[40%]">

        <div class="flex w-full items-center">
          <div class="">
            <p class="font-medium text-[20px] sm:text-[26px] pt-[14px]"><%= user.name %></p>
            <p class="text-[13px] sm:text-[15px] text-neutral-500"><%= user.username %></p>
          </div>
            <div class="follow_buttons_<%= user.id %> ml-auto sm:mx-[30px]">
              <%= render "relationships/btn", user: user %>
            </div>
            <% if current_user.admin? %>
              <p class="ml-auto mr-[5px]">
                <%= link_to "管理者", users_path %>
              </p>
            <% end %>
            <!--ログインユーザーのみ表示-->
            <% if user.email != 'guestuser@example.com' && ( user == current_user ) %>
              <p class="ml-auto mr-[5px]">
                <%= link_to "編集", edit_user_path(user), class: "inline-flex items-center justify-center text-[13px] sm:text-[16px] sm:h-10 px-[13px] py-1 sm:px-5 sm:py-1.5 whitespace-nowrap rounded-3xl border border-stone-500 hover:bg-stone-100 active:bg-stone-300" %>
              </p>
            <% end %>
        </div>

        <div class="text-[13px] sm:text-[17px] space-x-3 xl:space-x-10 mb-[20px]">
          <span>
            <%= link_to user_followings_path(user) do %>
              <span class="font-bold"><%= user.followings.count %></span> フォロー中
            <% end %>
          </span>
          <span>
            <%= link_to user_followers_path(user) do %>
              <span class="font-bold"><%= user.followers.count %></span> フォロワー
            <% end %>
          </span>
          <span>
            <span class="font-bold"><%= user.posts.count %></span> 投稿
          </span>
        </div>

        <p class="hidden lg:block"><%= user.introduction %></p>

      </div>
    </div>
  </div>
  <p class="text-center w-full lg:hidden mb-[17px]"><%= user.introduction %></p>
