<%= render 'layouts/sidebar' %>

<div class="font-gothic-new h-full flex flex-col justify-center mx-auto text-center">
  <%= render 'layouts/errors', obj: @user %>
  <p class="font-semibold my-10">プロフィール編集</p>
  <%= form_with model: @user do |f| %>
    <div class="mb-5">
      <label for="inputName">表示名</label><br>
      <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前", class: "w-[200px] h-[30px] text-black rounded-[5px]"%>
    </div>
    <div class="mb-5">
      <label for="inputImage">プロフィール画像</label><br>
      <label class="mt-2 sm:mt-0 py-2 w-[212px] sm:w-[164px] h-8 border border-sky-800 bg-white text-stone-700 rounded-[3px] text-sm flex justify-center items-center cursor-pointer mx-auto">
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="13"><path data-name="パス 204" d="M16.5 11.167a1.4 1.4 0 0 1-1.455 1.333H1.955A1.4 1.4 0 0 1 .5 11.167V3.833A1.4 1.4 0 0 1 1.955 2.5h2.909l1.455-2h4.364l1.455 2h2.909s1.453.6 1.453 1.333Z" fill="none" stroke="#57534e" stroke-linecap="round" stroke-linejoin="round"/><path data-name="パス 205" d="M12.426 6.915a3.926 3.926 0 0 1-7.852 0 4.007 4.007 0 0 1 3.393-3.89 2.844 2.844 0 0 1 .533-.036 3.926 3.926 0 0 1 3.926 3.926Z" fill="none" stroke="#57534e" stroke-linecap="round" stroke-linejoin="round"><g><g><svg>
        <span class="ml-5">画像を選択する</span>
        <%= f.file_field :profile_image, placeholder:"プロフィール画像", accept:"image/*", class: "img_field hidden" %>
      </label>
      <%= image_tag @user.get_profile_image(200,200), onClick: "$('.img_field').click()", class: "img_prev w-[200px] h-[200px] mx-auto mt-[10px] cursor-pointer" %>
    </div>
    <div class="mb-5">
      <label for="inputIntroduction">プロフィール文</label><br>
      <%= f.text_area :introduction, id:"inputIntroduction", placeholder:"プロフィール文はここに", class: "w-[265px] text-black rounded-[5px]" %>
    </div>
      <%= f.submit "変更を保存", class: "inline-flex items-center justify-center px-[10px] py-1.5 font-medium leading-6 text-white whitespace-no-wrap bg-gray-500 border border-gray-200 rounded-md shadow-sm hover:bg-gray-400 focus:outline-none focus:shadow-none cursor-pointer" %>
  <% end %>
  <% if @user.email != 'guestuser@example.com' && ( @user == current_user ) %>
    <p class="mt-28 mb-5">退会はこちらから</p>
    <botton><%= link_to "退会する", user_path(current_user.id), method: :delete, data: { confirm: "退会をされますと、データの復元はできません。本当に退会しますか？" }, class: "mb-5 inline-flex items-center justify-center px-[10px] py-1.5 font-medium text-white border rounded-md bg-red-500 hover:bg-red-400" %></botton>
  <% end %>
</div>
