<div class="font-gothic-new w-full text-center">
  <h2 class="my-5">登録したメールアドレスを入力してください</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions my-5">
      <%= f.submit "パスワードのリセットメールを送信する", class: "border rounded-md px-4 py-1.5 cursor-pointer" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
