<div class="md:flex md:justify-start bg-white min-w-[324px] w-full h-full">
  <div class="md:w-[65%]">
  <% if post.images.length < 2 %>
    <div class="h-full w-full aspect-square border-r border-zinc-200 my-auto">
      <% post.images.each do |image| %>
        <%= image_tag image, class: "w-full h-full object-contain transition-transform"%>
      <% end %>
    </div>
  <% else %>
    <!-- Slider main container -->
    <div class="swiper w-full h-full aspect-square border-r border-zinc-200">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <% post.images.each do |image| %>
          <%= image_tag image, class: "swiper-slide object-contain" %>
        <% end %>
      </div>
      <!-- pagination -->
      <div class="swiper-pagination"></div>

      <!-- navigation buttons -->
      <%= image_tag 'botton-prev.png', class: "swiper-button-prev" %>
      <%= image_tag 'botton-next.png', class: "swiper-button-next" %>
      <!--<div class="swiper-button-prev"></div>-->
      <!--<div class="swiper-button-next"></div>-->
    </div>
  <% end %>
  </div>
  <div class="flex flex-col grow min-w-[324px] md:min-w-[auto] md:w-[35%] h-[190px] md:h-auto px-[15px] overflow-y-auto mx-auto">
    <div class="md:hidden flex justify-between border-t border-b border-zinc-200 px-[3px] py-[3px]">
        <div class="flex">
          <div class="favorites_buttons_<%= post.id %>">
            <%= render 'favorites/btn', post: post %>
          </div>
          <div class="comments_buttons flex ml-3">
            <svg class="w-6 h-6 transition duration-75 mr-1.5" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z"></path>
            </svg>
            <%= post.post_comments.count %>
          </div>
        </div>

        <div class="bookmarks_buttons_<%= post.id %>">
          <%= render 'bookmarks/btn', post: post %>
        </div>
      </div>
    <div class="flex items-center border-b border-zinc-200 py-[10px]">
      <%= link_to user_path(post.user) do %>
        <%= image_tag post.user.get_profile_image(65,65), class: "rounded-full border border-stone-500 w-[40px] h-[40px] sm:w-[65px] sm:h-[65px]" %>
      <% end %>
      <div class="mx-[15px]">
        <%= link_to user_path(post.user) do %>
          <p class="text-[17px] sm:text-[20px] font-medium"><%= post.user.name %></p>
          <p class="text-[15px] sm:text-[14px] text-neutral-500"><%= post.user.username %></p>
        <% end %>
      </div>
      <div class="follow_buttons_<%= post.user.id %> ml-auto">
        <%= render 'relationships/btn', user: post.user %>
      </div>
    </div>
    <div>
      <% post.tags.each do |tag| %>
        <div class="balloon relative w-[30px] h-3 inline-block border border-zinc-300 mr-2 align-middle" style="background-color: <%= Constants::COLOR_MAP[tag.name.to_sym] %>;">
          <span class="tag-text absolute hidden p-[2px] bg-zinc-200 w-[95px] text-center text-[80%] left-[30%] bottom-[100%] mb-[12px] rounded-lg"><%= tag.name %></span>
        </div>
      <% end %>
    </div>
    <div class="scroll-display md:overflow-auto flex flex-col grow sm:pb-[20px]">
      <div class="flex justify-between">
        <p class="max-w-max text-[16px] md:text-[20px] font-medium border-b border-black pb-[4px] px-[8px] mt-[3px] md:mt-[9px]"><%= post.furniture_name %></p>
        <div class="flex mt-[9px]">
          <% if post.user == current_user || current_user.admin? %>
            <%= link_to edit_post_path(post), class: "cursor-pointer mr-2" do %>
              <svg class="w-6 h-6 text-gray-500 hover:text-gray-400" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z"></path>
                <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z"></path>
              </svg>
            <% end %>
            <%= link_to post_path(post), method: :delete, data: {confirm: "投稿を削除しますか？"}, class: "cursor-pointer" do %>
              <svg class="w-6 h-6 text-red-600 hover:text-red-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
              </svg>
            <% end %>
          <% end %>
        </div>
      </div>
      <p class="p-[12px] md:p-[22px]"><%= post.caption %></p>
      <p class="text-right"><%= post.created_at.strftime('%Y/%m/%d') %></p>

      <div id="new-comments">
        <%= render 'post_comments/index', post: post %>
      </div>
    </div>
    <div class="flex flex-col mt-auto pb-[15px]">
      <div class="hidden md:flex justify-between border-t border-b border-zinc-200 px-[10px] py-[20px]">
        <div class="flex">
          <div class="favorites_buttons_<%= post.id %>">
            <%= render 'favorites/btn', post: post %>
          </div>
          <div class="comments_buttons flex ml-3">
            <svg class="w-6 h-6 transition duration-75 mr-1.5" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z"></path>
            </svg>
            <%= post.post_comments.count %>
          </div>
        </div>

        <div class="bookmarks_buttons_<%= post.id %>">
          <%= render 'bookmarks/btn', post: post %>
        </div>
      </div>

      <div id="comments-area">
        <%= render 'post_comments/form', post: post, post_comment: post_comment %>
      </div>
    </div>
  </div>


</div>
<!--モーダル閉じるボタン-->
<div id="modal-close" class="hidden">×</div>
