<div class="flex justify-start h-[90vh]">
  <% if post.images.length < 2 %>
    <div class="h-full aspect-square border-r border-zinc-200">
      <% post.images.each do |image| %>
        <%= image_tag image, class: "w-full h-full relative top-0 bottom-0 right-0 left-0 object-contain transition-transform"%>
      <% end %>
    </div>
  <% else %>
    <!-- Slider main container -->
    <div class="swiper h-full aspect-square border-r border-zinc-200">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <% post.images.each do |image| %>
          <%= image_tag image, class: "swiper-slide absolute top-0 bottom-0 right-0 left-0 object-contain" %>
        <% end %>
      </div>
      <!-- pagination -->
      <div class="swiper-pagination"></div>

      <!-- navigation buttons -->
      <%= image_tag 'botton-prev.png', class: "swiper-button-prev" %>
      <%= image_tag 'botton-next.png', class: "swiper-button-next" %>
      <!--<div class="swiper-button-prev"></div>-->
      <!--<div class="swiper-button-next"></div>-->
    </div>
  <% end %>

  <div class="w-[32.5%]">
    <div class="flex items-end border-b border-zinc-200 pb-4">
      <%= image_tag post.user.get_profile_image(65,65), class: "rounded-full mt-4 ml-[17px]" %>
      <p class="text-[20px] font-semibold mx-4 mb-4"><%= post.user.name %></p>
      <p class="text-neutral-500 mb-4"><%= post.user.username %></p>
    </div>
    <% post.tags.each do |tag| %>
      <div class="balloon relative w-[30px] h-3 inline-block border border-zinc-300 mr-2 align-middle" style="background-color: <%= Constants::COLOR_MAP[tag.name.to_sym] %>;">
        <span class="tag-text absolute hidden p-[2px] bg-zinc-200 w-[95px] text-center text-[80%] left-[30%] bottom-[100%] mb-[12px] rounded-lg"><%= tag.name %></span>
      </div>
    <% end %>
    <p>ショップ名：<%= post.furniture_name %></p>
    <p>説明：<%= post.caption %></p>
    <p>投稿日時：<%= post.created_at.strftime('%Y/%m/%d') %></p>
    <% if post.user == current_user || current_user.admin? %>
    <%= link_to "削除", post_path(post), method: :delete, class: "bg-red-600 hover:bg-red-500 text-white rounded px-4 py-1" %>
    <% end %>

    <div class="favorites_buttons_<%= post.id %> mt-3 ml-5">
      <%= render 'favorites/btn', post: post %>
    </div>

    <div class="bookmarks_buttons_<%= post.id %> ml-auto mt-3 mr-5">
      <%= render 'bookmarks/btn', post: post %>
    </div>

    <p>コメント件数：<%= post.post_comments.count %></p>
    <div id="new-comments">
    <%= render 'post_comments/index', post: post %>
    </div>
    <div id="comments-area">
    <%= render 'post_comments/form', post: post, post_comment: post_comment %>
    </div>
    </div>


</div>