<%= render 'layouts/sidebar' %>

<div class="w-64 shrink-0"></div>

<div class="font-gothic-new w-full h-max flex flex-wrap justify-center">

  <div class="w-full flex justify-center mt-10 mb-8">
    <p class="tracking-[-.15em] mr-7">タイムライン</p>
    |
    <p class="tracking-[.2em] ml-8">view all</p>
  </div>

  <% @feeds.each do |post| %>
    <div class="w-80 h-[30rem] bg-[#EDEEE9] border border-black overflow-hidden mx-2.5 mt-5 shadow-lg">
      <div class="w-80 h-80 border-b border-black">
        <%= link_to post_path(post) do %>
          <%= image_tag post.images[0], class: "w-full h-full object-cover" %>
        <% end %>
      </div>
      <div class="flex justify-between">
        <p class="mt-3 ml-5"><%= render 'favorites/btn', post: post %></p>
        <p class="mt-3 mr-5"><%= render 'bookmarks/btn', post: post %></p>
      </div>
      <p class="text-center text-[28px] my-5"><%= post.furniture_name %></p>
      <p class="text-right mt-3 mr-5">
        <%= link_to user_path(post.user) do %>
          <%= post.user.name %> <%= post.user.username %>
        <% end %>
      </p>
    </div>
  <% end %>

