<%= render 'layouts/sidebar' %>

<div class="font-gothic-new w-full h-full flex flex-wrap justify-center">

  <div class="w-full flex justify-center mt-10 mb-8">
    <%= link_to "タイムライン", post_timeline_path(current_user), class: "tracking-[-.15em] mr-7 text-black" %>
    |
    <p class="tracking-[.2em] ml-8 font-semibold">view all</p>
  </div>

  <div class="w-full text-center">
    <%= form_with(url: search_posts_path, local: true, method: :get, class: "w-full") do |f| %>
      <%= f.text_field :keyword, placeholder: "ユーザーを入力、キーワードを入力", id: 'Search_Form', class: "w-[60vw] md:w-[30vw] h-[30px] text-black rounded-[5px] border-[#008bbb]" %>
      <%= f.submit "検索", class: "ml-3 inline-flex items-center justify-center px-[9px] py-1 text-base font-medium leading-6 text-gray-600 whitespace-no-wrap bg-white border border-gray-200 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:shadow-none" %>

    <% end %>
  </div>
  <div class="w-full lg:flex lg:justify-center mt-2 mb-5 sm:mb-0">
    <div class="pt-[30px] text-center lg:pr-[63px]">
      <%= form_tag category_result_posts_path, method: :get, class: 'boards__searchForm' do %>
        <%= select_tag :category_id,
                       options_from_collection_for_select(Category.all, :id, :name, params[:category_id]),
                       {
                         prompt: 'カテゴリー検索',
                         onchange: 'submit(this.form);'
                       }
        %>
      <% end %>
    </div>
    <div class="flex flex-wrap w-[320px] mx-auto lg:mr-0 lg:ml-0">
    <%#= form_tag({controller:"posts",action:"tag_result"}, method: :get) do %>
      <%= form_tag tag_result_posts_path, method: :get do %>
        <% Tag.all.each do |t| %>
            <%= check_box :tag_ids, t.name %>
            <div class="balloon relative w-[30px] h-3 inline-block border border-zinc-300 mr-2 align-middle" style="background-color: <%= Constants::COLOR_MAP[t.name.to_sym] %>;">
            <span class="tag-text absolute hidden p-[2px] bg-zinc-200 w-[95px] text-center text-[80%] left-[30%] bottom-[100%] mb-[12px] rounded-lsg"><%= t.name %></span>
          </div>
        <% end %>
        <%= submit_tag '色検索', class: "inline-flex items-center justify-center px-[9px] text-base font-medium leading-6 text-gray-600 whitespace-no-wrap bg-white border border-gray-200 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:shadow-none" %>
      <% end %>
    </div>
  </div>

  <%= render 'posts/index', posts: @posts %>

  <!--モーダルの周囲を薄暗くするマスク-->
  <div id="mask" class="hidden"></div>
  <!--モーダル-->
  <!--あとからJavaScriptで<div>内のコードをshowビューのコードに置き換えます。-->
  <div id="modal" class="hidden">
    <p>モーダルウィンドウ<p>
  </div>
</div>
