<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<% @posts.each do |post| %>
<div>
  <%= image_tag post.images[0], size:'120x120' %>
  <p>投稿ユーザー画像：<%= image_tag post.user.get_profile_image(60,60) %></p>
  <p>家具名：<%= post.furniture_name %></p>
  <p>説明：<%= post.caption %></p>
  <p>ユーザーネーム：<%= post.user.name %></p>
</div>
<% end %>