<%= render 'layouts/sidebar' %>

<div class="w-full h-max flex justify-center">
  <div class="text-center font-gothic-new mt-8">

    <%= render 'layouts/errors', obj: @post %>

    <h1 class="text-center w-48 bg-stone-200 px-8 py-3 mx-auto mt-2 mb-5">画像投稿フォーム</h1>
    <%= form_with model: @post, local: true do |f| %>

    <div class="mb-3">
      <p class="mb-1"><%= f.label :images, "画像", class: "font-semibold p-1" %> ( 5枚まで )</p>
      <%= f.file_field :images, multiple: true, required: true, accept: "image/*" %>
    </div>
    <div id="new-image" class="flex justify-center">

    </div>

    <div class="mb-3">
      <%= f.label :furniture_name, "タイトル", class: "font-semibold block p-1" %>
        <%= f.text_field :furniture_name, required: true, placeholder: "ショップ名など...", class: "w-[14vw] h-[30px] text-black rounded-[5px]" %>
    </div>

    <div class="mb-3">
      <%= f.label :caption, "キャプション", class: "font-semibold block p-1" %>
        <%= f.text_area :caption, placeholder: "キャプション...", class: "w-[18vw] text-black rounded-[5px]" %>
    </div>

    <div class="form-group">
      <%= f.label :category_id, "カテゴリ", class: "font-semibold block p-1" %>
      <%= f.collection_select :category_id, Category.all, :id, :name, { :include_blank => "選択してください ▼" }, :required => true, class: "cursor-pointer" %>
    </div>

    <div class='form-group'>
      <%= f.label :tag, "カラー", class: "font-semibold inline-block p-1" %>
      <span> (複数チェック可)</span>
      <div class="flex flex-wrap w-[315px]">
        <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name, include_hidden: false do |tag| %>
        <!--第一引数 :tag_idsはpostオブジェクトのプロパティ名-->
        <!--第二引数 Tag.allはtagオブジェクトの配列を取得-->
        <!--第三引数 :id　チェックボックスのvalue属性の値-->
        <!--第四引数 :name チェックボックスのラベル名-->
            <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input inline-block' %>
                    <div class="balloon relative w-[30px] h-3 inline-block border border-zinc-300 mr-3 align-middle" style="background-color: <%= Constants::COLOR_MAP[tag.text.to_sym] %>;">
                      <span class="tag-text absolute hidden p-[2px] bg-zinc-200 w-[95px] text-[80%] left-[30%] bottom-[100%] mb-[12px] rounded-lg"><%= tag.text %></span>
                    </div>
                <% end %>
            </div>
        <% end %>
      </div>
    </div>

    <botton><%= f.submit '投稿', class: "bg-gray-500 hover:bg-gray-400 text-white rounded-xl px-16 py-2 mt-5 cursor-pointer" %></botton>
  <% end %>
  </div>
</div>
