<%= render 'layouts/sidebar' %>

<div class="w-64 shrink-0"></div>

<div class="w-full h-max flex justify-center">
  <div class="text-center font-gothic-new mt-8">

    <%= render 'layouts/errors', obj: @post %>

    <h1 class="text-center w-48 bg-stone-200 px-8 py-3 mx-auto mt-2 mb-5">画像投稿フォーム</h1>
    <%= form_with model: @post, local: true do |f| %>

    <div class="mb-3">
      <p class="mb-1"><%= f.label :images, "画像", class: "font-semibold p-1" %> ( 5枚まで )</p>
      <%= f.file_field :images, multiple: true, required: true, accept: "image/*" %>
    </div>
    <div id="new-image" class="flex justify-center">

    </div>

    <div class="mb-3">
      <%= f.label :furniture_name, "インテリア家具名", class: "font-semibold block p-1" %>
        <%= f.text_field :furniture_name, required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :caption, "説明", class: "font-semibold block p-1" %>
        <%= f.text_area :caption %>
    </div>

    <div class="form-group">
      <%= f.label :category_id, "カテゴリ", class: "font-semibold block p-1" %>
      <%= f.collection_select :category_id, Category.all, :id, :name, { :include_blank => "選択してください ▼" }, :required => true, class: "cursor-pointer" %>
    </div>

    <div class='form-group'>
      <%= f.label :tag, "カラー", class: "font-semibold inline-block p-1" %>
      <span> (複数チェック可)</span>
      <div class="flex flex-wrap w-[320px]">
        <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name, include_hidden: false do |tag| %>
        <!--第一引数 :tag_idsはpostオブジェクトのプロパティ名-->
        <!--第二引数 Tag.allはtagオブジェクトの配列を取得-->
        <!--第三引数 :id　チェックボックスのvalue属性の値-->
        <!--第四引数 :name チェックボックスのラベル名-->
            <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <span style="color: <%= @color_map[tag.text.to_sym] %>;">■</span>
                    <span class="colorText"><%= tag.text %></span>
                <% end %>
            </div>
        <% end %>
        </div>
    </div>

    <botton><%= f.submit '投稿', class: "bg-gray-500 hover:bg-gray-400 text-white rounded-xl px-8 py-2 mt-5 cursor-pointer" %></botton>
  <% end %>
  </div>
</div>

<style>
  .colorText {
    color: transparent;
  }
  .colorText:hover {
    color: black;
  }
</style>