<%= render 'layouts/errors', obj: @post %>
<div class="text-center w-48 bg-white shadow rounded px-2 py-3">
  画像投稿フォーム
</div>
<%= form_with model: @post, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :images, "画像", class: "font-semibold block p-1" %>
    <%= f.file_field :images, multiple: true, accept: "image/*" %>
  </div>
  <div class="mb-3">
    <h4>家具の名前</h4>
      <%= f.text_field :furniture_name %>
    <h4>説明</h4>
      <%= f.text_area :caption %>
  </div>
  <div class="form-group">
    <%= f.label :category_id, "カテゴリ" %>
    <%= f.collection_select :category_id, Category.all, :id, :name, { include_blank: true }, { class: "form-control" } %>
  </div>
    <%= f.submit '投稿', class: "shadow-lg bg-black shadow-black/50 text-white rounded px-2 py-1" %>
<% end %>
