<%= render 'layouts/sidebar' %>

<div class="font-gothic-new w-full h-full flex flex-wrap justify-center">

  <div class="w-full flex justify-center mt-10 mb-8">
    <p>検索結果一覧</p>
  </div>
  <div class="w-full">
    <ul class="tab-area table mx-auto border cursor-pointer">
      <li class="tab active w-[150px] sm:w-[200px]">ユーザー</li>
      <li class="tab w-[150px] sm:w-[200px]">投稿</li>
    </ul>
  </div>

  <div class="panel-area">
    <div class="panel active">
       <p class="w-full text-center"><%= @users.count %> 件</p>
      <%= render 'relationships/users_index', users: @users %>
    </div>
    <div class="panel">
       <p class="w-full text-center"><%= @posts.count %> 件</p>
      <%= render 'posts/index', posts: @posts %>
    </div>
  </div>
  <!--モーダルの周囲を薄暗くするマスク-->
  <div id="mask" class="hidden"></div>
  <!--モーダル-->
  <!--あとからJavaScriptで<div>内のコードをshowビューのコードに置き換える-->
  <div id="modal" class="hidden">
    <p>モーダルウィンドウ<p>
  </div>
</div>
