<%= render 'layouts/sidebar' %>

<div class="font-gothic-new w-full h-full flex flex-wrap justify-center">

  <div class="w-full flex justify-center mt-10 mb-8">
    <p class="tracking-[-.15em] mr-7 font-semibold">タイムライン</p>
    |
    <%= link_to "view all", posts_path, class: "tracking-[.2em] ml-8" %>
  </div>

  <% @feeds.each do |post| %>

    <div class="w-80 h-[30rem] bg-[#EDEEE9] border border-black overflow-hidden mx-2.5 mt-5 shadow-lg">

      <div class="w-80 h-80 border-b border-black">
        <%= link_to post_path(post), remote: true do %>
          <%= image_tag post.images[0], class: "w-full h-full object-cover" %>
        <% end %>
      </div>

      <div class="flex">
        <div class="favorites_buttons_<%= post.id %> mt-3 ml-5">
          <%= render 'favorites/btn', post: post %>
        </div>

        <div class="mt-3 ml-3">
          <%= render 'post_comments/btn', post: post %>
        </div>

        <div class="bookmarks_buttons_<%= post.id %> ml-auto mt-3 mr-5">
          <%= render 'bookmarks/btn', post: post %>
        </div>
      </div>

      <p class="text-center text-[20px] font-medium my-7 text-ellipsis overflow-hidden whitespace-nowrap w-[250px] mx-auto">
        <%= post.furniture_name %>
      </p>

      <div class="flex justify-between px-5">
      <p class="">
        <%= link_to user_path(post.user) do %>
          <span class="text-[17px] font-medium mr-3"><%= post.user.name %></span>
          <span class="text-[15px] text-neutral-500"><%= post.user.username %></span>
        <% end %>
      </p>
      <p class="text-neutral-500"><%= time_ago_in_words(post.created_at).gsub(/約/, '').upcase %></p>
      </div>
    </div>

  <% end %>

  <div class="w-full text-center mt-[64px]">
    <%= paginate @feeds %>
  </div>

  <!--モーダルの周囲を薄暗くするマスク-->
  <div id="mask" class="hidden"></div>
  <!--モーダル-->
  <!--あとからJavaScriptで<div>内のコードをshowビューのコードに置き換えます。-->
  <div id="modal" class="hidden">
    <p>モーダルウィンドウ<p>
  </div>
</div>
