<!DOCTYPE html>
<html>
  <head>
    <title>FurnyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <main class="pt-[200px]">
      <div class="fixed top-0 left-0 right-0 h-[200px] bg-white pt-14 z-[1]"></div>

      <div class="w-11/12 h-max flex border-x border-black mx-auto pb-16">
        <%= yield %>
      </div>
    </main>
    <%= render 'layouts/footer' %>
    <div class="relative">
      <div class="absolute bottom-0 right-0 left-0 h-[216px] bg-white"></div>
    </div>
  </body>
</html>
